<Test>
  <Name>config</Name>
  <Result>PASS</Result>
  <Time real="0.000" user="0.000" system="0.000"/>
  <Test>
    <Name>Check ability to register a root namespace and use it</Name>
    <Result>PASS</Result>
    <Time real="0.000" user="0.000" system="0.000"/>
  </Test>
  <Test>
    <Name>Check ability to register an object under the root namespace and use it</Name>
    <Result>PASS</Result>
    <Time real="0.000" user="0.000" system="0.000"/>
  </Test>
  <Test>
    <Name>Check ability to configure vectors of Object using regular expressions</Name>
    <Result>PASS</Result>
    <Time real="0.000" user="0.000" system="0.000"/>
  </Test>
  <Test>
    <Name>Check that attributes of base class are searchable from paths including objects of derived class</Name>
    <Result>PASS</Result>
    <Time real="0.000" user="0.000" system="0.000"/>
  </Test>
</Test>
